@tailwind base;
@tailwind components;
@tailwind utilities;

.send-first {
  border-radius: 15px;
  border-bottom-right-radius: 5px;
  margin-bottom: 3px;
}
.send-middle {
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 15px;
  margin-bottom: 3px;
}
.send-last {
  border-radius: 15px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
}


.receive-first {
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  margin-bottom: 3px;
}
.receive-middle {
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
  margin-bottom: 3px;
}
.receive-last {
  border-radius: 15px;
  border-top-left-radius: 5px;
  margin-bottom: 10px;
}